<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Imgboard</title>
    <script src="/js/app.js" type="module" crossorigin="use-credentials" defer></script>
</head>
<body>
    <header>
        <h1>IMGBOARD</h1>
    </header>
    <div id="main">
        <form>
            <input v-model="title" type="text" name="title" placeholder="title">
            <input v-model="username" type="text" name="username" placeholder="username">
            <input v-model="description" type="text" name="description" placeholder="description">
            <input @change="fileSelectHandler" type="file" name="file" accept="image/*">
            <button @click.prevent="clickHandler">Submit</button>
        </form>
        {{ heading }}
        <div class="image-wrapper">
            <div v-for="image in images" class="image">
                <img :src="image.url" :alt="image.description"></>
                <div class="image-title">{{image.title}}</div>
        </div>
    </div>
</body>
</html>
