* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hotpink;
}

#main {
    width: 100%;
}

.image-wrapper {
    margin: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image {
    width: 600px;
    margin: 12px 0px;
    border: 2px solid orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.image img {
    height: 600px;
    min-width: 600px;
}

.image-title {
    border: 1px solid red;
    padding: 12px 8px;
}

@media (max-width: 600px) {
    .image-wrapper {
        flex-direction: column;
        justify-content: space-between;
    }
}
