* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hotpink;
}

.image-wrapper {
    margin: 24px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image {
    max-width: 400px;
    border: 2px solid orange;
}

.image img {
    width: 100%;
}
