@font-face {
    font-family: "Avenir";
    src: url("/fonts/Avenir-Roman.eot");
    src: local("Avenir Roman"), local("Avenir-Roman"),
        url("/fonts/Avenir-Roman.eot?#iefix") format("embedded-opentype"),
        url("/fonts/Avenir-Roman.woff2") format("woff2"),
        url("/fonts/Avenir-Roman.woff") format("woff"),
        url("/fonts/Avenir-Roman.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("/fonts/Avenir-Light.eot");
    src: local("Avenir Light"), local("Avenir-Light"),
        url("/fonts/Avenir-Light.eot?#iefix") format("embedded-opentype"),
        url("/fonts/Avenir-Light.woff2") format("woff2"),
        url("/fonts/Avenir-Light.woff") format("woff"),
        url("/fonts/Avenir-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Avenir Book";
    src: url("/fonts/Avenir-BookOblique.eot");
    src: local("Avenir Book Oblique"), local("Avenir-BookOblique"),
        url("/fonts/Avenir-BookOblique.eot?#iefix") format("embedded-opentype"),
        url("/fonts/Avenir-BookOblique.woff2") format("woff2"),
        url("/fonts/Avenir-BookOblique.woff") format("woff"),
        url("/fonts/Avenir-BookOblique.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Avenir Black Oblique";
    src: url("/fonts/Avenir-BlackOblique.eot");
    src: local("Avenir Black Oblique"), local("Avenir-BlackOblique"),
        url("/fonts/Avenir-BlackOblique.eot?#iefix") format("embedded-opentype"),
        url("/fonts/Avenir-BlackOblique.woff2") format("woff2"),
        url("/fonts/Avenir-BlackOblique.woff") format("woff"),
        url("/fonts/Avenir-BlackOblique.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Avenir";
    src: url("/fonts/Avenir-Heavy.eot");
    src: local("Avenir Heavy"), local("Avenir-Heavy"),
        url("/fonts/Avenir-Heavy.eot?#iefix") format("embedded-opentype"),
        url("/fonts/Avenir-Heavy.woff2") format("woff2"),
        url("/fonts/Avenir-Heavy.woff") format("woff"),
        url("/fonts/Avenir-Heavy.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("/fonts/Avenir-HeavyOblique.eot");
    src: local("Avenir Heavy Oblique"), local("Avenir-HeavyOblique"),
        url("/fonts/Avenir-HeavyOblique.eot?#iefix") format("embedded-opentype"),
        url("/fonts/Avenir-HeavyOblique.woff2") format("woff2"),
        url("/fonts/Avenir-HeavyOblique.woff") format("woff"),
        url("/fonts/Avenir-HeavyOblique.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Avenir";
    src: url("/fonts/Avenir-MediumOblique.eot");
    src: local("Avenir Medium Oblique"), local("Avenir-MediumOblique"),
        url("/fonts/Avenir-MediumOblique.eot?#iefix")
            format("embedded-opentype"),
        url("/fonts/Avenir-MediumOblique.woff2") format("woff2"),
        url("/fonts/Avenir-MediumOblique.woff") format("woff"),
        url("/fonts/Avenir-MediumOblique.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Avenir";
    src: url("/fonts/Avenir-LightOblique.eot");
    src: local("Avenir Light Oblique"), local("Avenir-LightOblique"),
        url("/fonts/Avenir-LightOblique.eot?#iefix") format("embedded-opentype"),
        url("/fonts/Avenir-LightOblique.woff2") format("woff2"),
        url("/fonts/Avenir-LightOblique.woff") format("woff"),
        url("/fonts/Avenir-LightOblique.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Avenir Book";
    src: url("/fonts/Avenir-Book.eot");
    src: local("Avenir Book"), local("Avenir-Book"),
        url("/fonts/Avenir-Book.eot?#iefix") format("embedded-opentype"),
        url("/fonts/Avenir-Book.woff2") format("woff2"),
        url("/fonts/Avenir-Book.woff") format("woff"),
        url("/fonts/Avenir-Book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("/fonts/Avenir-Black.eot");
    src: local("Avenir Black"), local("Avenir-Black"),
        url("/fonts/Avenir-Black.eot?#iefix") format("embedded-opentype"),
        url("/fonts/Avenir-Black.woff2") format("woff2"),
        url("/fonts/Avenir-Black.woff") format("woff"),
        url("/fonts/Avenir-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("/fonts/Avenir-Oblique.eot");
    src: local("Avenir Oblique"), local("Avenir-Oblique"),
        url("/fonts/Avenir-Oblique.eot?#iefix") format("embedded-opentype"),
        url("/fonts/Avenir-Oblique.woff2") format("woff2"),
        url("/fonts/Avenir-Oblique.woff") format("woff"),
        url("/fonts/Avenir-Oblique.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Avenir";
    src: url("/fonts/Avenir-Medium.eot");
    src: local("Avenir Medium"), local("Avenir-Medium"),
        url("/fonts/Avenir-Medium.eot?#iefix") format("embedded-opentype"),
        url("/fonts/Avenir-Medium.woff2") format("woff2"),
        url("/fonts/Avenir-Medium.woff") format("woff"),
        url("/fonts/Avenir-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: Avenir, Arial, sans-serif;
}

input {
    all: unset;
}

button {
    all: unset;
    cursor: pointer;
    width: 330px;
    height: 50px;
    background-color: #1b105c;
    color: white;
    box-shadow: 0px 4px 4px rgba(36, 18, 147, 0.2);
    border-radius: 8px;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.08em;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    box-shadow: 0px 4px 4px rgba(36, 18, 147, 0.4);
}

header {
    padding: 12px 12px;
}

#main {
    width: 100%;
}

.upload-form {
    display: flex;
    justify-content: center;
}

.upload-form input#file_input {
    all: unset;
    align-self: baseline;
}

.upload-form input {
    background-color: #fff;
    border-radius: 8px;
    font-size: 1.3em;
    height: 2em;
    margin: 14px 24px 24px 24px;
    padding: 5px 10px;
    align-self: baseline;
}

.upload-form input:focus {
    outline: 1px solid #241293;
}

.image-wrapper {
    margin: 24px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    justify-items: center;
}

.image {
    width: 400px;
    margin: 12px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    cursor: pointer;
}

.image:hover {
    box-shadow: 2px 3px 10px rgb(0 0 0 / 0.4);
}

.image img {
    height: 400px;
}

.image-title {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.04em;
    padding: 12px 8px;
    align-self: flex-start;
}

.image-title span {
    font-weight: 400;
    font-size: 14px;
}

.image-modal {
    padding: 24px 0px;
    width: 60%;
    background-color: #fff;
    font-size: 1.3em;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.image-modal-content {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-modal-title {
    padding: 12px 0px;
    font-weight: 800;
    font-size: 1.3em;
    letter-spacing: 0.04em;
}

.image-modal-content img {
    max-width: 100%;
    max-height: 80%;
}

.image-modal-text {
    margin: 12px 0;
    padding: 0px 0px 0px 0px;
}

.image-modal-content button {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.more-btn {
    margin: 0px 0px 24px 0px;
    display: flex;
    justify-content: center;
}

.comment-section {
    max-width: 80%;
}

.comments-wrapper {
    font-size: 18px;
    margin: 0px 0px 8px 0px;
}

.comment-form {
    display: flex;
    justify-content: center;
    margin: 12px 0px 0px 0px;
}

.comment-form input {
    outline: 1px solid rgba(36, 18, 147, 0.4);
    border-radius: 8px;
    font-size: 18px;
    margin: 0px 6px 0px 6px;
    padding: 5px 10px;
}

.comment-forum input:focus {
    outline: 1px solid black;
}

.comment-form button {
    width: 200px;
    height: 35px;
    font-size: 18px;
    font-weight: 400;
    margin: 0px 6px 0px 6px;
}
